{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "rules": {
    "eqeqeq": ["error", "allow-null"],
    "indent": ["error", "tab", {"SwitchCase": 1}],
    "no-confusing-arrow": 0,
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-indent-props": [2, "tab"],
    "react/jsx-indent": ["error", "tab"]
  }
}
